@import url("https://use.typekit.net/ikj8lgs.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #FFF4E3;
    --foreground: #171717;
    --accent: #FD9061;
    --secondary: rgba(253, 209, 141, 0.6);
    font-family: "brevia", sans-serif;
    background-color: #FFF4E3;
}