@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #FFF4E3;
    --foreground: #171717;
    --accent: #FD9061;
    font-family: "HvDTrial Brevia", sans-serif;

    background-color: #FFF4E3;
}